// Paleta de cores personalizada
$primary-color: #c5a245;
$primary-color-dark: #a3862f;
$primary-color-light: #e6c97a;
$secondary-color: #fff6d4;
$secondary-color-dark: #ffe6a0;
$secondary-color-light: #fffbe9;
$accent-color: #e6c97a;
$hover-color: #a3862f;
$border-color: #e6c97a;
$text-color: #7a5c1c;
