<section class="remocao-section" id="remove">
  <div class="remocao-container">
    <div class="remocao-texto">
      <h2>Remoção de Cílios</h2>
      <p>
        A remoção dos fios é feita de forma segura, indolor e sem danificar seus cílios naturais. Evite puxar ou tentar remover sozinha — isso pode causar danos aos seus olhos. Aqui, você recebe o cuidado que merece 💖
      </p>
      <p class="valor">Valor: <strong>R$ 10,00</strong></p>
      <app-aplication-button [btnProcedure]="'Remoção'" [btnStyle]="'agendarBtn'" [btnText]="'Agendar Remoção'"></app-aplication-button>
    </div>

    <div class="remocao-imagem">
      <img src="assets/cilios/remocao.png" alt="Remoção de Cílios Profissional" />
    </div>
  </div>
</section>
